.top-bar {
    background-color: coral;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  > button {
    padding: 1rem;
  }
  > .funding-counter {
    align-self: flex-start;
    display: flex;
  }
  > .carbon-counter {
    display: flex;
  }
}
